@import url('antd/dist/reset.css');

body {
  // padding: 0;
  // margin: 0;
  font-family: 'Fira Sans';
  font-size: 16px;
  background: #EAE8DC;
  color: #3f3f3f;
}

.grid {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

header {
  padding: 30px 0;

  @media screen and (max-width: 420px) {
    padding: 15px 0;
  }

  h1 {
    margin-bottom: 0;

    @media screen and (max-width: 768px) {
      font-size: 24px
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 10px;
    }
  }
}

footer {
  padding: 30px 0;
}

.header-button {
  cursor: default;
}

.tableSettings {
  margin-bottom: 20px;

  .ant-card-body {
    display: flex;
    align-items: center;

    @media screen and (max-width: 360px) {
      flex-wrap: wrap;
    }
  }

  .tableCount {
    @media screen and (max-width: 360px) {
      width: 100%;
      margin-bottom: 5px;
    }
  }
}

.ant-card .ant-card-body {
  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  @media screen and (max-width: 360px) {
    padding: 8px;
  }
}

.tableWrap {
  @media screen and (max-width: 1280px) {
    width: calc(100vw - 60px);
    overflow-x: scroll;
  }

  @media screen and (max-width: 768px) {
    width: calc(100vw - 40px);
  }
}

.tableContent {
  @media screen and (max-width: 1280px) {
    width: 1240px;
  }
}

* {
  scrollbar-face-color: rgba(112, 128, 144, 0.2);
  scrollbar-track-color: #A4B4B6;
  scrollbar-width: thin;
  scrollbar-color: #A4B4B6 rgba(112, 128, 144, 0.2);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(112, 128, 144, 0.2);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(112, 128, 144, 0.5);
  border-radius: 11px;
}

.ant-list-item {
  padding: 4px 11px !important;
  background-color: rgba(255, 255, 255, 0.5);
}

.charts {
  margin-bottom: 20px;

  &.ant-flex {
    @media screen and (max-width: 560px) {
      flex-direction: column !important;
    }
  }
}

.chartWrap {

  @media screen and (max-width: 560px) {
    max-width: calc(100vw - 40px);
  }

  &:nth-child(1) {
    width: calc(65% - 10px);

    @media screen and (max-width: 560px) {
      width: 100%
    }
  }

  &:nth-child(2) {
    width: calc(35% - 10px);

    @media screen and (max-width: 560px) {
      width: 100%
    }
  }
}

.ant-tabs-content-holder {
  .ant-radio-button-wrapper {
    span {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

  }
}